web/WEB-INF/wsdl/localhost_8080/ServicioWebInstitucion/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/ServicioWebInstitucion/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarEstudiante">
<part name="parameters" element="tns:actualizarEstudiante"/>
</message>
<message name="actualizarEstudianteResponse">
<part name="parameters" element="tns:actualizarEstudianteResponse"/>
</message>
<message name="agregarAsignatura">
<part name="parameters" element="tns:agregarAsignatura"/>
</message>
<message name="agregarAsignaturaResponse">
<part name="parameters" element="tns:agregarAsignaturaResponse"/>
</message>
<message name="eliminarAsignatura">
<part name="parameters" element="tns:eliminarAsignatura"/>
</message>
<message name="eliminarAsignaturaResponse">
<part name="parameters" element="tns:eliminarAsignaturaResponse"/>
</message>
<message name="listarAsignaturas">
<part name="parameters" element="tns:listarAsignaturas"/>
</message>
<message name="listarAsignaturasResponse">
<part name="parameters" element="tns:listarAsignaturasResponse"/>
</message>
<message name="agregarEstudiante">
<part name="parameters" element="tns:agregarEstudiante"/>
</message>
<message name="agregarEstudianteResponse">
<part name="parameters" element="tns:agregarEstudianteResponse"/>
</message>
<message name="listarEstudiantes">
<part name="parameters" element="tns:listarEstudiantes"/>
</message>
<message name="listarEstudiantesResponse">
<part name="parameters" element="tns:listarEstudiantesResponse"/>
</message>
<message name="actualizarAsignatura">
<part name="parameters" element="tns:actualizarAsignatura"/>
</message>
<message name="actualizarAsignaturaResponse">
<part name="parameters" element="tns:actualizarAsignaturaResponse"/>
</message>
<message name="eliminarEstudiante">
<part name="parameters" element="tns:eliminarEstudiante"/>
</message>
<message name="eliminarEstudianteResponse">
<part name="parameters" element="tns:eliminarEstudianteResponse"/>
</message>
<message name="cambioAsignaturas">
<part name="parameters" element="tns:cambioAsignaturas"/>
</message>
<message name="cambioAsignaturasResponse">
<part name="parameters" element="tns:cambioAsignaturasResponse"/>
</message>
<message name="verAsignaturas">
<part name="parameters" element="tns:verAsignaturas"/>
</message>
<message name="verAsignaturasResponse">
<part name="parameters" element="tns:verAsignaturasResponse"/>
</message>
<message name="verEstudiantes">
<part name="parameters" element="tns:verEstudiantes"/>
</message>
<message name="verEstudiantesResponse">
<part name="parameters" element="tns:verEstudiantesResponse"/>
</message>
<message name="buscarEstudiante">
<part name="parameters" element="tns:buscarEstudiante"/>
</message>
<message name="buscarEstudianteResponse">
<part name="parameters" element="tns:buscarEstudianteResponse"/>
</message>
<message name="buscarAsignatura">
<part name="parameters" element="tns:buscarAsignatura"/>
</message>
<message name="buscarAsignaturaResponse">
<part name="parameters" element="tns:buscarAsignaturaResponse"/>
</message>
<portType name="Servicios">
<operation name="actualizarEstudiante">
<input wsam:Action="http://WebService/Servicios/actualizarEstudianteRequest" message="tns:actualizarEstudiante"/>
<output wsam:Action="http://WebService/Servicios/actualizarEstudianteResponse" message="tns:actualizarEstudianteResponse"/>
</operation>
<operation name="agregarAsignatura">
<input wsam:Action="http://WebService/Servicios/agregarAsignaturaRequest" message="tns:agregarAsignatura"/>
<output wsam:Action="http://WebService/Servicios/agregarAsignaturaResponse" message="tns:agregarAsignaturaResponse"/>
</operation>
<operation name="eliminarAsignatura">
<input wsam:Action="http://WebService/Servicios/eliminarAsignaturaRequest" message="tns:eliminarAsignatura"/>
<output wsam:Action="http://WebService/Servicios/eliminarAsignaturaResponse" message="tns:eliminarAsignaturaResponse"/>
</operation>
<operation name="listarAsignaturas">
<input wsam:Action="http://WebService/Servicios/listarAsignaturasRequest" message="tns:listarAsignaturas"/>
<output wsam:Action="http://WebService/Servicios/listarAsignaturasResponse" message="tns:listarAsignaturasResponse"/>
</operation>
<operation name="agregarEstudiante">
<input wsam:Action="http://WebService/Servicios/agregarEstudianteRequest" message="tns:agregarEstudiante"/>
<output wsam:Action="http://WebService/Servicios/agregarEstudianteResponse" message="tns:agregarEstudianteResponse"/>
</operation>
<operation name="listarEstudiantes">
<input wsam:Action="http://WebService/Servicios/listarEstudiantesRequest" message="tns:listarEstudiantes"/>
<output wsam:Action="http://WebService/Servicios/listarEstudiantesResponse" message="tns:listarEstudiantesResponse"/>
</operation>
<operation name="actualizarAsignatura">
<input wsam:Action="http://WebService/Servicios/actualizarAsignaturaRequest" message="tns:actualizarAsignatura"/>
<output wsam:Action="http://WebService/Servicios/actualizarAsignaturaResponse" message="tns:actualizarAsignaturaResponse"/>
</operation>
<operation name="eliminarEstudiante">
<input wsam:Action="http://WebService/Servicios/eliminarEstudianteRequest" message="tns:eliminarEstudiante"/>
<output wsam:Action="http://WebService/Servicios/eliminarEstudianteResponse" message="tns:eliminarEstudianteResponse"/>
</operation>
<operation name="cambioAsignaturas">
<input wsam:Action="http://WebService/Servicios/cambioAsignaturasRequest" message="tns:cambioAsignaturas"/>
<output wsam:Action="http://WebService/Servicios/cambioAsignaturasResponse" message="tns:cambioAsignaturasResponse"/>
</operation>
<operation name="verAsignaturas">
<input wsam:Action="http://WebService/Servicios/verAsignaturasRequest" message="tns:verAsignaturas"/>
<output wsam:Action="http://WebService/Servicios/verAsignaturasResponse" message="tns:verAsignaturasResponse"/>
</operation>
<operation name="verEstudiantes">
<input wsam:Action="http://WebService/Servicios/verEstudiantesRequest" message="tns:verEstudiantes"/>
<output wsam:Action="http://WebService/Servicios/verEstudiantesResponse" message="tns:verEstudiantesResponse"/>
</operation>
<operation name="buscarEstudiante">
<input wsam:Action="http://WebService/Servicios/buscarEstudianteRequest" message="tns:buscarEstudiante"/>
<output wsam:Action="http://WebService/Servicios/buscarEstudianteResponse" message="tns:buscarEstudianteResponse"/>
</operation>
<operation name="buscarAsignatura">
<input wsam:Action="http://WebService/Servicios/buscarAsignaturaRequest" message="tns:buscarAsignatura"/>
<output wsam:Action="http://WebService/Servicios/buscarAsignaturaResponse" message="tns:buscarAsignaturaResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambioAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/ServicioWebInstitucion/Servicios"/>
</port>
</service>
</definitions>